{{ "<!-- Pricing Section -->" | safeHTML }}
<section id="pricing" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.pricing.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.pricing.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">  
                {{ with .Site.Params.pricing.table }}{{ . | markdownify }}
            </div>
            {{ end }}
        </div>
    </div>
</section>