{{ "<!-- Hero -->" | safeHTML }}
<header>
    <div class="container">
        <div class="intro-text">
			<img alt="OLRC logo" src="img/{{ with .Site.Params.navigation.img }}{{ . | markdownify }}{{ end }}"></a>
            <h1 class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>
            <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
        </div>
    </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
